



<section class="category">
    <div class="category-title">
        <h1>{{category}}</h1>
        <span class="drop-down"> <</span>
    </div>
    <p class="category-description">about the category</p>
</section>



