<!--right now i'm having the view add the only section-->
<section class="menu">
    <section class="popular">
        <div class="category-title">
            <h1>Popular Items</h1>
            <span class="drop-down"> <</span>
        </div>
    </section>
</section>
<section class="order-section"></section>